body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #282b39;
    color: white;
}

.card {
    background-color: transparent;
    border: 1px solid rgb(255 255 255 / 53%);
}

.spotify-btn{
    background-color: #1DB954;
    border: #191414;
    color: white;
    border-radius: 50px;
}

.youtube-btn {
    background-color: #FF0000;
    border: #191414;
    color: white;
    /* Text bold */
    border-radius: 50px;
}

table {
    width: 80%;
}

table, th, td {
    padding: 4px;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
}