<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Spotify Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script src="/index.js" defer></script>
</head>

<body>

<div class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="col-md-5 ">
            <h1 class="text-center">Hi! </h1>
            <h3 class="text-center my-5">Please Login with your Spotify Account first to get started!</h3>
            <div class="d-flex justify-content-around mt-4">
                <a th:href="@{${authorizationUrl}}" class="btn btn-primary spotify-btn">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login with Spotify
                </a>
            </div>
            <div th:if="${errorMessage != null}" class="alert alert-danger my-5" role="alert" th:text="${errorMessage}">
                Error!
            </div>
        </div>
</div>

</body>
</html>