<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User's Playlists</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>

<h1 class="text-center my-4"> Here is a list of your current Youtube playlists! </h1>
<span class="text-center my-3" th:if="${spotifyStatus == null}"> You are not logged in with Spotify</span>
<a class="btn btn-primary btn-lg btn-block my-4 text-center" href="/spotifyUserPlaylists" th:if="${spotifyStatus != null}">Go to Spotify Playlists</a>


<div class="container d-flex ">
    <div class="row"></div>
    <div class="col">
        <table >
            <tr>
                <th>Title</th>
                <th>Total Songs</th>
                <th>Convert to Spotify</th>
            </tr>
            <tr th:each="playlist : ${topPlaylists}" style="cursor: pointer">
                <td th:text="${playlist.snippet.title}"> Title 1</td>
                <td th:text="${playlist.contentDetails.itemCount}"> Item Count  1</td>
                <td>
                    <a th:if="${spotifyStatus == null}"  th:href="@{${spotifyAuthUrl}}" class="btn btn-danger d-flex text-center" >Login with Spotify First!</a>
                    <a th:if="${spotifyStatus != null}"  th:href="@{'/convertYoutubeToSpotify/{playlistId}'(playlistId=${playlist.getId()})}" class="btn btn-primary d-flex text-center" >Convert</a>
<!--                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg" alt="Spotify" width="20" height="20">-->
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>





</body>
</html>